<ion-card cardHeight>
  <ion-item text-center>
    <div imageAdjust>
      <img [src]="profile.image"></div>
    <h2></h2>

  </ion-item>

  <!-- <ion-card-content> -->
  <ion-item>
    <ion-label>{{profile.firstname}} {{profile.lastname}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-left>Nickname : {{profile.nickname}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-left>Age : {{profile.age}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-left>Job : {{profile.job}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-left>Phone : {{profile.tel}}</ion-label>
  </ion-item>

  <!-- </ion-card-content> -->


</ion-card>